@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-image: linear-gradient(to right, rgb(96, 131, 247), rgba(85, 16, 163, 0.74));

}

header{
    padding: 20px;
    box-shadow: 0px 5px 50px #201658;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn-sair{
    text-decoration: none;
    background-color: #ff3b3b;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
}

.btn-sair:hover{
    background-color: #ff6262;
}

.text{
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.table-box{
    margin: 15px;
    
}

.table{
    border-radius: 15px;
    color: white;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    border-collapse: collapse;
}

.text-bemvindo{
    padding: 10px;
}

.table tr{
    border-bottom: 1px solid white;
}

#img-pencil{
    background-color: #6c63ff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    transition: 0.5s;
}

#img-pencil:hover{
    background-color: #625afcf1;
}

#img-trash{
    background-color: #ff3b3b;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    transition: 0.5s;
}

#img-trash:hover{
    background-color: #ff6262;
}

#info-user{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

#info-user:hover{
    padding: 2px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
}