@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: #6c63ff;
}

header{
    background-color: #4037f5;
    padding: 20px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #4037f5;
}

.btn-sair{
    text-decoration: none;
    background-color: red;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.text{
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.table-box{
    margin: 15px;
}

.table{
    border-radius: 15px 15px 0px 0px;
    color: white;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    border-collapse: collapse;
}

.text-bemvindo{
    padding: 10px;
    color: white;
}

.table tr{
    border-bottom: 1px solid white;
}

#img-pencil{
    background-color: #0b00d3;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

#img-trash{
    background-color: rgb(202, 6, 6);
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}