@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*----------ESTILO GERAL----------*/
*{
    font-family: 'Inter', sans-serif;
}

body{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(96, 131, 247), rgba(85, 16, 163, 0.74));
}

/*----------CAMPOS LOGIN----------*/
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    padding: 40px;
    border-radius: 15px;
}

input{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.input-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*----------BOTÃO LOGIN ----------*/
button{
    background-color: #6c63ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

button:hover{
    background-color: #6b63fff1;
    cursor: pointer;
}

/*----------LINK CADASTRO----------*/
a{
    text-align: center;
    text-decoration: none;
    color: white;
}