@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*----------GERAL----------*/
:root{
    --verde: #00ff88;
    --cinza-escuro: #201b2c;
    --cinza-claro: #47425c;
    --roxo-escuro: #2b134b;
}

*{
    font-family: 'Inter', sans-serif;
}

body{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-escuro);
}

/*----------MAIN----------*/
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 1000px;
    border-radius: 15px;
}

/*----------IMG/TXT----------*/
.box-img{
    color: var(--verde);
    text-align: justify;
}

.img{
    width: 450px;
    height: 450px;
    padding-right: 20px;
}

/*----------CAMPOS DE REGISTRO----------*/
.input-group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 450px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    background-color: var(--cinza-claro);
    box-shadow: 0px 10px 40px #00000056;
}

.input-group h1{
    padding-top: 2rem;
    padding-left: 1.5rem;
}

.form-cad{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem;
}

.input-cad{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    padding: 10px;
}

input{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

/*----------BOTÃO CONTINUAR----------*/
.submit-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.submit-form button{
    border: none;
    width: 430px;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    color: var(--roxo-escuro);
    background-color: var(--verde);
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.submit-form button:hover{
    background-color: #00d873;
    cursor: pointer;
}

/*----------LINK LOGIN----------*/
.ancora-login{
    text-align: center;
    text-decoration: none;
    padding-bottom: 20px;
    color: white;
}