@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*----------ESTILO GERAL----------*/
*{
    font-family: 'Inter', sans-serif;
}

body{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #201b2c;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 1000px;
    border-radius: 15px;
}

.box-img{
    color: #00ff88;
    text-align: justify;
}

.box-img img{
    width: 450px;
    height: 450px;
    padding-right: 20px;
}

.input-group{
    color: white;
    width: 600px;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #47425c;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 10px 40px #00000056;
}

.input-group h1{
    padding-top: 2rem;
    padding-left: 1.5rem;
}

.main-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    
}

input{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.submit-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.submit-form button{
    background-color: #00ff88;
    color: #2b134b;
    width: 430px;
    font-size: 15px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.submit-form button:hover{
    background-color: #00d873;
    cursor: pointer;
}

.submit-form a{
    text-align: center;
    text-decoration: none;
    color: white;
    padding-bottom: 20px;
}