@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*----------GERAL----------*/
:root{
    --verde: #00ff88;
    --cinza-escuro: #201b2c;
    --cinza-claro: #47425c;
    --roxo-escuro: #2b134b;
}

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: var(--cinza-escuro);
}

/*----------CABEÇALHO----------*/
.cabecalho{
    padding: 20px;
    background-color: var(--cinza-claro);
    box-shadow: 0px 10px 40px #00000056;
}

.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-size: 25px;
    text-decoration: none;
    color: var(--verde);
}

.btn-sair{
    text-decoration: none;
    background-color: var(--verde);
    border: none;
    color: var(--roxo-escuro);
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-sair:hover{
    background-color: #00d873;
}

.text-bemvindo{
   padding-top: 15px;
   color: var(--verde);
}

/*----------TABELA PARA LISTAGEM----------*/
.table-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.table{
    border-radius: 5px;
    color: white;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.5);
    width: 90%;
    border-collapse: collapse;
}

.table tr{
    border-bottom: 1px solid white;
}

/*----------BOTÕES----------*/
#img-delete{
    width: 25px;
    padding: 5px;
}

#img-info{
    width: 25px;
    padding: 5px;
}

#img-edit{
    width: 25px;
    padding: 5px;
}