@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*----------ESTILO GERAL----------*/
*{
    font-family: 'Inter', sans-serif;
}

body{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #201b2c;
}

/*----------MAIN----------*/
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    width: 1000px;
    border-radius: 15px;
}

.box_img{
    color: #00ff88;
    text-align: justify;
}

.box_img img{
    width: 400px;
    height: 400px;
    padding: 10px;
}

/*----------CAMPOS LOGIN----------*/
.box_log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #47425c;
    width: 300px;
    color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 40px #00000056;
}

.box h1{
    color: #00ff88;
}

input{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.input-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*----------BOTÃO LOGIN ----------*/
button{
    background-color: #00ff88;
    color: #2b134b;
    font-size: 15px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

button:hover{
    background-color: #00d873;
    cursor: pointer;
}

/*----------LINK CADASTRO----------*/
a{
    text-align: center;
    text-decoration: none;
    color: white;
}